body{
    background-image: url("./../img/fondo.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color:aliceblue;
}
.contepadre{
    padding-top: 100px;
    max-width: 50em;
    height: 10vh;
    margin: auto;
    color:rgb(25, 41, 18);
}